.u-textarea {
  display: flex;
  align-items: flex-start;
  min-width: 200px;
  color: var(--black-main);
  border: 1px solid var(--gray-20);
  border-radius: 8px;
  padding: 15px;
  background: white;
  transition: all 0.3s ease-in-out;
  font-size: 18px;

  &__native {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--black-main);
    font-size: inherit;
    font-family: inherit;
    resize: vertical;
    width: 100%;
    min-height: 50px;

    &::placeholder {
      color: var(--gray-60);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &:hover,
  &.is-focused {
    border-color: var(--blue-60);
  }

  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      border-color: var(--gray-20);
    }
  }
}
